.patient-assistance-program, .instant-savings-program {
    .blk-container {
        max-width: 75%;
        margin: 0 auto;

        .content-direction-ltr {
            margin-bottom: 40px;
            padding-top: 3rem;

            .blk-img {
                max-width: 33.333333%;
                flex: 0 0 33.333333%;
            }

            .blk-para {
                max-width: 66.666666%;
                flex: 0 0 66.666666%;

                p {
                    font-size: 18px;
                    line-height: 1.6;

                    a {
                        color: $linkcolor;
                    }
                }
            }
        }
    }
}
a.under-line {
    color: $linkcolor;
}
.program-content-sec {
    p{
        font-size: 18px;
        line-height: 1.6;
    }

    h5 {
        a {
            color: $linkcolor;
        }
    }
}

.back-gray {
    background: $coloroffwhite;
}
.saving-section-three {
    &.back-gray {
        .uninsured-text {
            p {
                a {
                    color: #0265F8;
                }
            }
        }
    }
}

.p-b-80 {
    padding-bottom: 80px;
}

.p-t-80 {
    padding-top: 80px;
}

.uninsured-text {
    padding-bottom: 70px;

    p {
        font-size: 16px;

        :nth-child(1) {
            text-indent: -6px;
        }

        :nth-child(2) {
            text-indent: -6px;
        }
    }
}

.green-color {
    color: #1f5a32;
}