.banner {
    .banner-image {
        position: relative;

        img {
            width: 100%;
        }

        .container {
            .desktop-banner-title {
                padding-left: 100px;
                position: absolute;
                bottom: 100px;

                .scroll-to-link {
                    &.mobile-button {
                        p {
                            margin-bottom: 17px;

                            a {
                                img {
                                    /*margin-left: 22px;*/
                                    top: 2px;
                                    float: right;
                                }

                                &:hover {
                                    overflow: initial;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }

            .banner-text {
                position: absolute;
                bottom: 60px;

                .banner-img-text {
                    background: #fff;
                    color: #000;
                    padding: 5px;
                    border-radius: 4px;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 12px;
                    display: inline-block;
                    font-family: 'Archivo';
                    text-transform: none;
                }
            }

            .title {
                color: $colorwhite;
                font-weight: 700;
                text-transform: uppercase;
                font-family: "Archivo Narrow",sans-serif;
                display: table;
                margin-bottom: 5px;
            }

            .scroll-to-link {
                margin-top: 20px;

                a {
                    color: #215732;
                    text-decoration: none;
                    text-transform: none;
                    background: $colorwhite;
                    overflow: hidden;
                    border-radius: 29px;
                    padding: 13px 55px;
                    position: relative;
                    z-index: 1;
                    border: none;
                    margin-bottom: 42px;
                    margin-right: 15px;

                    &:hover {
                        overflow: initial;
                        color: #fff;

                        &:after {
                            width: 103%;
                        }
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: -4px;
                        width: 0;
                        height: 100%;
                        background-color: #253746;
                        transform-origin: left;
                        transition: width 0.25s ease;
                        z-index: -1;
                        border-radius: 29px;
                    }
                }

                img {
                    width: 14px;
                    position: relative;
                    left: auto;
                    top: -2px;
                    margin-left: 3px;
                }
            }
        }
    }
}
.efficancy {
    .banner {
        .banner-image {
            .container {
                .desktop-banner-title {
                    h1 {
                        &.title {
                            font-size: 54px;
                        }
                    }
                }
            }
        }
    }
}

.about-page-sec {
    h3 {
        font-size: 50px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
    }
}

.home-banner-title {
    .title {
        background-image: linear-gradient(to right,#00852f,#215732 98%);
        padding: 4px 27px;
    }
}

.p-l-100 {
    padding-left: 100px;
}

.m-t-90 {
    margin-top: 90px;
}

.about-section-two {
    .about-page-sec {
        h3 {
            font-size: 50px;
            font-family: Archivo,sans-serif;
        }

        .text-left {
            text-align: left;
        }
    }
}

.about-section-seven {
    .white-box.no-border-radius {
        border-radius: 0;
    }

    .white-box {
        border-radius: 20px;
        background: $colorwhite;
        overflow: hidden;

        .box-content {
            padding: 40px 45px 40px 60px;
            font-size: 18px;

            h3 {
                font-weight: 700;
                color: #012b46;
            }
        }
    }
}

.bg-offwhite {
    background: $coloroffwhite;
}

.p-b-90 {
    padding-bottom: 90px;
}

.p-t-90 {
    padding-top: 90px;
}

.text-left {
    text-align: left !important;
}

.video-wrap a {
    position: relative;
}

.p-b-60 {
    padding-bottom: 60px;
}

.m-b-140 {
    margin-bottom: 140px;
}

.m-t-70 {
    margin-top: 70px;
}

.six {
    .circle-4 {
        h3, p {
            color: $colorwhite;
        }

        h3 {
            padding-top: 90px;
        }
    }
}

.dark-blue-sec1 {
    position: relative;
    height: 164px;
    padding-left: 40px;

    img {
        padding: 0;
        position: absolute;
        right: 0px;
        width: 93%;
    }
}

.dark-blue-sec2 {
    position: relative;
    height: 164px;


    ::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: rgb(0 177 64 / 4%);
        left: -100%;
        top: 0;
    }
}

.darkblue-sec {
    background-color: $colordarkblue;
    padding-bottom: 3rem;

    .blk-container {
        padding-top: 78px;

        .content-direction-ltr {
            .blk-img {
                max-width: 33.333333%;
                flex: 0 0 33.333333%;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
            }

            .blk-para {
                max-width: 50%;
                flex: 0 0 50%;
                padding-left: 0.75rem;
                padding-right: 0.75rem;

                h3 {
                    color: $colorwhite;
                }

                p {
                    color: $colorwhite;
                    font-size: 18px;
                    line-height: 1.6;
                }
            }
        }
    }
}

.patient-result {
    .block1 {
        padding: 0;
    }

    .content-direction-rtl {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .blk-para {
            max-width: 50%;
            flex: 0 0 50%;
            padding: 40px 45px 40px 60px;

            .font-14 {
                font-size: 14px;
            }
        }

        .blk-img {
            max-width: 50%;
            flex: 0 0 auto;
            padding-left: 0.75rem;
            padding-right: 0;
        }
    }
}

.have-questions {
    .block1 {
        padding: 0;
    }

    .content-direction-rtl {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .blk-para {
            max-width: 41.66666667%;
            flex: 0 0 41.66666667%;
            padding: 40px 70px 40px 60px;
        }

        .blk-img {
            max-width: 57.33333333%;
            flex: 0 0 auto;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.dark-blue-sec3 {
    position: relative;
    height: 164px;
    width: 70%;
}

.thirdribbion {
    width: 80%;
}

span.wordspace {
    margin-left: 3px;
}
/* Style for Taking siliq page */
.taking-siliq-banner {
    .banner-image {
        .container {
            position: absolute;
            top: 0;
            margin: auto;
            right: 0;
            left: 0;
            height: 100%;

            .scroll-to-link {
                margin-top: 20px;
                color: #000;

                p {
                    margin-bottom: 42px;
                    margin-right: 35px;
                    padding: 0 9px;
                }
            }
        }
    }
}

.about-taking-siliq {
    #taking-siliq {
        h3 {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        p {
            strong {
                color: $colordarkblue;
            }
        }
    }

    p {
        font-size: 18px;
        line-height: 1.6;
    }

    h3 {
        padding-top: 62px;
        padding-bottom: 34px;
        color: $colorblueblack;
        line-height: 40px;
    }

    .siliq-qa {
        padding-bottom: 46px;
        margin-bottom: 0;

        li {
            font-size: 18px;
            line-height: 24px;

            strong {
                color: $colordarkblue;
            }
        }
    }
}

/*.white-box {
    border-radius: 20px;
    background: $colorwhite;
    overflow: hidden;

    .taking-siliq {
        position: relative;
        display: flex;
        padding: 0px 21px 35px;

        .pointer-line {
            position: absolute;
            left: 90px;
            top: 30px;
            right: 186px;
            height: 0;
            border-top: 1px solid #215732;
            z-index: 1;

            &:after {
                content: "";
                position: absolute;
                right: 0px;
                top: -8px;
                width: 15px;
                height: 15px;*/
                /* background: url(/siteassets/img/img-20x19-graph-arrow.png) left top no-repeat; */
                /* background-color: green; */
                /* border-block-end-width: 56px; */
                /* border-image-width: 42px; */
                /* border-left-width: 37px; */
                /* border-width: 0px 116px 3px 0px; */
                /* display: inline-block; */
                /* border: solid green; */
                /* padding: 3px; */
                /* transform: rotate(45deg); */
                /*border: solid #7c7c7c;
                border-width: 0px 3px 3px 0px;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg);
            }
        }

        .green-box {
            height: 65px;
            width: 35%;
            background: $colormediumgrey;
            margin-right: 15px;
            border-radius: 10px;
            padding: 33px 30px 20px;

            .week-wrap {
                .week {
                    h5 {
                        color: $colormediumgreen;
                    }
                }
            }
        }

        .orange-box {
            height: 65px;
            width: 48%;
            background: $colorwhitishgreen;
            border-radius: 10px 50px 50px 10px;
            padding: 33px 30px 20px;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                border-left: 70px solid rgba(0,176,78,.1);
                border-top: 126px solid transparent;
                border-bottom: 126px solid transparent;
                right: -70px;
                top: 0;
                display: none;
            }

            .week-wrap {
                .week {
                    h5 {
                        color: $colormediumgreen;
                    }



                    &:nth-child(odd) {
                        .dot {
                            background: #7B7B7B;

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }

            .about-arrow-bottom {
                display: none;
            }
        }

        .week-wrap {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .week {
                position: relative;
                top: 16px;
                left: 15px;*/
                /*&:first-child {
                    .dot {
                        background-color: #6b6b6b;
                    }
                }

                &:nth-child(3) {
                    .dot {
                        background-color: #6b6b6b;
                    }
                }*/

                /*.dot {
                    position: absolute;
                    height: 31px;
                    width: 32px;
                    border-radius: 50%;
                    background: $colormediumgreen;
                    left: 50%;
                    transform: translateX(-50%);
                    top: -35px;
                    z-index: 1;

                    &:before {
                        content: '';
                        background: url(/siteassets/img/img-29x26-green-check.png) no-repeat;
                        position: absolute;
                        top: -3px;
                        left: 5px;
                        width: 100%;
                        height: 100%;
                    }
                }

                h4 {
                    margin-bottom: 0;
                    color: #012b46;
                }

                h5 {
                    margin-bottom: 0;
                    color: #012b46;
                    position: relative;
                    top: 30px;
                }

                .color-light {
                    color: #7B7B7B !important;
                }
            }

            .week.dotted {
                position: absolute;
                right: -5px;
                opacity: .5;
            }
        }
    }
}*/

.remember-siliq-steps {

    .steps-title {
        margin: 46px 0px;
        line-height: 40px;
        color: $colorblueblack;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
    }

    .easy-steps {
        .easy-white-box {
            /*border-radius: 20px;
            background: #fff;
            position: relative;
            height: 260px;
            padding-top: 40px;
            padding-left: 30px;
            padding-right: 30px;*/
            display: flex;
            position: relative;

            .number {
                /*height: 100px;
                width: 100px;
                border-radius: 50%;
                font-size: 65px;
                font-weight: 700;
                color: #fff;
                position: absolute;
                line-height: 100px;
                margin: 0 auto 10px;
                background: #00852f;
                left: 0;
                right: 0;
                top: -50px;*/
                width: 25%;
                position: relative;
                top: 0px;
                margin-right: 10px;
            }

            .steps-content {
                width: 75%;
                padding-right: 35px;

                p {
                    font-size: 18px;
                    line-height: 24px;

                    span.line-align {
                        padding-right: 55px;
                        display: inline-block;
                    }
                }
            }

            h4 {
                color: #012b46;
                margin-bottom: 20px;
                margin-top: 20px;
            }

            .small-font {
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }

    .steps-container {
        .steps-info {
            padding-bottom: 60px;
            padding-top: 60px;
        }
    }
}
/*.faq-section-two {
    .faq-container {
        .accordion-flush {
            .faq-wrapper {
                padding-bottom: 25px;
            }
        }
    }
}*/
.accordion-body {
    padding-top: 14px;
}
/* Style for success stories page */
.no-link {
    p {
        background: 0 0 ;
        cursor: default ;
    }
}

.results-video-container {
    .quote-white-box {
        border-radius: 20px;
        background: #00852f;
        color: #fff;
    }
}

.results-white-box {
    font-size: 24px;
    padding: 40px;
    color: #215732;
    font-family: Archivo,sans-serif;
    padding: 40px;
    position: relative;
    overflow: visible;

    .quotes {
        height: 58px;
        width: 58px;
        left: 30px;
        position: absolute;
        background: #fff;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16);
        box-shadow: 0 3px 6px rgba(0,0,0,.16);
        top: -29px;
        border-radius: 50%;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
    }

    .user {
        font-size: 18px;
        font-family: "Archivo Narrow",sans-serif;
    }
}

.video-wrap a .play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/* slick slider before and after in success stories */
.main {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.before-after-slider .after-image, .before-after-slider .before-image {
    width: 50%;
    padding-right: 15px;
}

.before-image {
    padding-right: 15px;
    padding-left: 15px;
}

.slick-slide img {
    margin-bottom: -18px;
    border-radius: 20px;
}

.after-image {
    padding-left: 15px;
    padding-right: 15px;
}

.slick-prev:before {
    content: "" !important;
    background: url(/siteassets/img/icon-78x78-prev.png);
    width: 60px;
    height: 60px;
    display: inline-block;
    background-size: cover;
    position: relative;
    right: 35px;
    opacity: 1 !important;
}

.slick-next:before {
    content: "" !important;
    background: url(/siteassets/img/icon-78x78-next.png);
    width: 60px;
    height: 60px;
    display: inline-block;
    background-size: cover;
    position: relative;
    right: 5px;
    opacity: 1 !important;
}

.after-image .img-wrap .tag, .before-image .img-wrap .tag {
    background: #253746;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 25px;
    border-radius: 29px;
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
}

.after-image .tag {
    background: #00852f !important;
}

p.small {
    font-size: 16px;
    line-height: 1.5;
}

.slick-dots {
    display: none !important;
}


/*@media screen and (max-width:991px){
    .next-to-banner {
        padding-top: 48px;
    }
}*/
.footnotebreak {
    display: block;
}
/* Style for videos */
.video_popup {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10010;
    padding: 40px 20px;
    background-color: rgba(0,0,0,.7);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .video_Container {
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: 60%;
        z-index: 99999;
        text-align: center;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .videoclosebutton {
        position: absolute;
        top: -30px;
        right: -30px;
        font-size: 25px;
        text-transform: uppercase;
        cursor: pointer;
        background: #fff;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        z-index: 1000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 700;
        color: #215732;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16);
        box-shadow: 0 3px 6px rgba(0,0,0,.16);
    }
}


.eficancy-tbs-cont-one {
    ul {
        &.nav-tabs {
            justify-content: center;
            border-bottom: unset;

            li {
                width: 224px;

                &.nav-item {
                    a {
                        &.nav-link {
                            padding: 20px 16px;
                            font-size: 16px;
                            line-height: 14px;
                            text-align: center;
                            color: #ffffff;
                            background-color: #71757F;
                            font-weight: 700;
                            font-family: $Archivosanserif;
                            border-radius: 0px;
                            margin-left: -1px;

                            &.active {
                                background-color: #00852F;
                                padding: 20px 16px;
                                border-color: transparent;
                            }

                            &:hover {
                                border-color: transparent;
                                background-color: #00B140;
                            }
                        }
                    }

                    &:first-child {
                        a {
                            border-top-left-radius: 16px;
                        }
                    }

                    &:last-child {
                        a {
                            border-top-right-radius: 22px;
                        }
                    }
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            h3 {
                color: #253746;
                text-align: center;
                font-size: 22px;
                line-height: 30px;
                margin-top: 34px;
            }

            p {
                color: #215732;
                text-align: center;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
            }

            .chrt-img {
                text-align: center;
                position: relative;

                .sdy-cse {
                    position: absolute;
                    right: 0;
                    top: 27px;
                }

                .chrt-fotnote {
                    color: $colordarkblue;
                    font-size: 16px;
                    margin-top: 6px;
                    margin-bottom: 16px;
                }
            }
        }
        /*&:first-child{

        }*/
    }
}

.eficancy-tbs-cont-two {
    ul {
        &.nav-tabs {
            justify-content: center;
            border-bottom: unset;

            li {
                width: 224px;

                &.nav-item {
                    a {
                        &.nav-link {
                            padding: 20px 16px;
                            font-size: 16px;
                            line-height: 14px;
                            text-align: center;
                            color: #ffffff;
                            background-color: #71757F;
                            font-weight: 700;
                            font-family: $Archivosanserif;
                            border-radius: 0px;
                            margin-left: -2px;

                            &.active {
                                background-color: #00852F;
                                padding: 20px 16px;
                                border-color: transparent;
                            }

                            &:hover {
                                border-color: transparent;
                                background-color: #00B140;
                            }
                        }
                    }

                    &:first-child {
                        a {
                            border-top-left-radius: 16px;
                        }
                    }

                    &:last-child {
                        a {
                            border-top-right-radius: 22px;
                        }
                    }
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            &#tab5 {
                h3 {
                    padding: 0 80px;
                }
            }

            h3 {
                color: #253746;
                text-align: center;
                font-size: 22px;
                line-height: 30px;
                margin-top: 34px;

                sup.rescue {
                    top: -0.3em;
                }
            }

            p {
                color: #215732;
                text-align: center;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
            }

            .chrt-img {
                text-align: center;
                position: relative;

                .sdy-cse {
                    position: absolute;
                    right: 0;
                }

                .chrt-fotnote {
                    color: $colordarkblue;
                    font-size: 16px;
                    margin-top: 6px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .eficancy-tbs-cont-one {
        ul {
            &.nav-tabs {
                justify-content: center;

                li {
                    width: 30%;
                }
            }
        }
    }
    .eficancy-tbs-cont-two {
        ul {
            &.nav-tabs {
                justify-content: center;

                li {
                    width: 30%;
                }
            }
        }
    }
}

.eficancy-tbs-cont-one-mbile {
    .main {
        overflow: hidden;

        .slick-next, .slick-prev {
            top: 50%;
        }

        .slick-prev {
            left: -3px;
        }

        .slick-next {
            right: -10px;
        }

        .slick-slide {
            justify-content: center;

            .bfre-image {
                width: 100%;
                margin: 0 15px;


                .img-wrap {
                    .img {
                        h3 {
                            text-align: center;
                            color: #253746;
                            font-size: 22px !important;
                        }

                        p {
                            color: #215732;
                            font-weight: 400;
                            font-size: 18px;
                            text-align: center;

                            &.small {
                                color: #253746;
                                font-size: 16px;
                                line-height: 1.5;
                            }
                        }

                        img {
                            margin: 0 auto;
                            width: 100%;
                        }


                        .crt-butn {
                            margin: 16px 0;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }


        ul {
            &.slick-dots {
                bottom: 0px;

                li {
                    button {
                        display: inline-block;
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        opacity: 0.4;
                        background: #215732;
                        padding: 4px;

                        &:before {
                            display: none;
                        }
                    }

                    &.slick-active {
                        button {
                            display: inline-block;
                            height: 8px;
                            width: 8px;
                            border-radius: 50%;
                            opacity: 1;
                            background: #215732;
                            padding: 4px;
                        }
                    }
                }
            }
        }
    }
}

.eficancy-tbs-cont-two-mbile {
    .main {
        overflow: hidden;

        .slick-next, .slick-prev {
            top: 40%;
        }

        .slick-prev {
            left: -4px;
        }

        .slick-next {
            right: -12px;
        }

        .slick-slide {
            justify-content: center;

            .bf-image {
                .img-wrap {
                    .img {
                        h3 {
                            text-align: center;
                            color: #253746;
                            font-size: 22px !important;
                            sup.rescue{
                                top: -0.3rem;
                            }
                        }

                        p {
                            color: #215732;
                            font-weight: 400;
                            font-size: 18px;
                            text-align: center;

                            &.chrt-fotnote {
                                color: #253746;
                                font-size: 16px;
                                line-height: 1.5;
                            }
                        }

                        .chrt-img {
                            margin: 0 auto;
                            max-width: 74%;

                            .crt-butn {
                                margin: 16px 0;
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }


        ul {
            &.slick-dots {
                bottom: 0px;

                li {
                    button {
                        display: inline-block;
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        opacity: 0.4;
                        background: #215732;
                        padding: 4px;

                        &:before {
                            display: none;
                        }
                    }

                    &.slick-active {
                        button {
                            display: inline-block;
                            height: 8px;
                            width: 8px;
                            border-radius: 50%;
                            opacity: 1;
                            background: #215732;
                            padding: 4px;
                        }
                    }
                }
            }
        }
    }
}
.ContentPanethree_fore {
    .small-font {
        font-size: 14px;
        line-height: 22px;
        color: #464646;
        font-weight: 400;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
    .banner {
        .banner-image {
            .container {
                .desktop-banner-title {
                    padding-left: 0px;
                    bottom: 70px;
                }

                .banner-text {
                    bottom: 60px;
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .banner {
        .banner-image {
            .container {
                .desktop-banner-title {
                    padding-left: 100px;
                    position: absolute;
                    bottom: 165px;
                }
            }
        }
    }
    .patient-savngs {
        .banner {
            .banner-image {
                .container {
                    .desktop-banner-title {
                        padding-left: 100px;
                        position: absolute;
                        bottom: 40px;
                    }
                }
            }
        }
    }
}