.home-banner-section {
    .banner-image {
        position: relative;

        .container {
            position: absolute;
            top: 0;
            margin: auto;
            right: 0;
            left: 0;
            height: 100%;

            .banner-text-home {
                position: absolute;
                left: 20px;
                top: 31%;
                width: 570px;

                h1 {
                    margin-top: 3px;
                    font-size: 55px !important;
                    line-height: 55px !important;
                    margin-bottom: 9px;

                    span {
                        color: #215732;
                    }
                }

                p {
                    font-family: $Archivosanserif;
                    font-size: 22px;
                    color: $colorwhite;
                    line-height: 26px;
                }

                .btn-default {
                    background: $colorwhite;
                    color: $linkcolorgreen;
                    border-radius: 29px;
                    padding: 7px 20px;

                    &:hover {
                        overflow: initial;
                        color: $colorwhite;
                    }

                    &:after {
                        border-radius: 17px;
                        background: #253746;
                    }
                }
            }

            .title {
                color: $colorwhite;
                font-weight: $bold;
                text-transform: uppercase;
                font-family: "Archivo Narrow",sans-serif;
                display: table;
            }
        }

        .mobile-top-banner {
            position: absolute;
            top: 10px;
            font-size: 19px;
            font-weight: 700;
            width: 85%;
            line-height: 27px;
            left: 0px;
            text-align: center;
            color: #fff;
            right: 0px;
            font-family: "Archivo Narrow",sans-serif;
            margin: auto !important;
        }
    }
}
.ContentPaneone {
    .blk-container {
        padding-top: 60px;

        .content-direction-rtl {
            flex-direction: row-reverse;
            align-items: center;
        }
    }
}

.graybgalternate {
    background: #F5F7FA !important;

    .btn-default {
        &:visited {
            color: $colorwhite;
        }

        &:active {
            color: $colorwhite;
        }

        &:focus {
            color: $colorwhite;
        }
    }

    .no-border-radius {
        border-radius: 0;
    }
}

.section-tired {
    padding-top: 78px;
    margin-bottom: 90px;

    .blk-container {
        .content-direction-rtl {
            .blk-para {
                padding: 40px 45px 40px 60px;

                h3 {
                    font-weight: $bold;
                    color: #012b46;
                }

                p {
                    color: $colordarkgrey;
                    font-size: 18px;
                    line-height: 1.6;
                }
            }
        }
    }
}

.siliq-savings {
    .row {
        justify-content: center;

        section.block1 {
            max-width: 66.666666%;
            padding: 0;

            .blk-container {
                .content-direction-ltr {
                    .blk-img {

                        img {
                            width: 406px;
                            height: 406px;
                            border-radius: 50%;
                            padding: 18px;
                        }
                    }
                }
            }
        }
    }
}

.gray-back {
    .blk-container {
        padding-top: 90px;
        padding-bottom: 90px;

        .content-direction-rtl {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            .blk-para {
                padding: 40px 50px 40px 60px;
                max-width: 50%;

                p {
                    font-size: 18px;
                    line-height: 1.6;
                }

                p.font-14 {
                    font-size: 14px;
                }
            }
        }
    }
}
/*.next-to-banner {
    padding-top: 78px;

    .white-box.no-border-radius {
        border-radius: 0px;
        background: $colorwhite;
        overflow: hidden;

        .box-content {
            padding: 40px 45px 40px 60px;

            h3 {
                font-weight: $bold;
                color: #012b46;
            }

            p {
                color: $colordarkgrey;
                font-size: 18px;
                line-height: 1.6;
            }
        }
    }
}*/
.home-section-three {
    .gray-back {
        background: $coloroffwhite;

        .white-box {
            background: 0 0;

            .box-content {
                padding: 40px 45px 40px 60px;
                font-size: 18px;

                h3 {
                    font-weight: $bold;
                    color: #012b46;
                }

                p {
                    color: $colordarkgrey;
                    line-height: 1.6;
                }
            }
        }
    }

    .white-box.no-border-radius {
        border-radius: 0;
    }
}

.home-section-four {
    &.abt-silq-dbl-crd {
        .padding-tb {
            padding-top: 0px;
            padding-bottom: 78px;
        }
    }

    .padding-tb {
        padding-top: 0px;
        padding-bottom: 50px;

        .gray-box-background {
            border: solid 1px #dbdee2;
            width: 100%;

            .box-content {
                text-align: center;
                padding: 40px 90px 40px 90px;
                background: $colorgreen;

                h3 {
                    color: $colorwhite;
                }

                p {
                    color: $colorwhite;
                    font-size: 18px;
                    line-height: 1.6;
                }

                .btn.btn-default, .btn.btn-grey {
                    border-radius: 29px;
                    padding: 13px 55px;
                    font-size: 16px;
                    color: $linkcolorgreen;
                    font-family: Archivo,sans-serif;
                    font-weight: 700;
                    border: none;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    background: $colorwhite;

                    :hover {
                        outline: 0;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        overflow: hidden;
                        color: $colorwhite;
                    }

                    :after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 100%;
                        background-color: $linkcolor;
                        transform-origin: left;
                        transition: width .25s ease;
                        z-index: -1;
                        border-radius: 0 20px 0 20px;
                    }
                }

                .btn-default {
                    &:after {
                        background: #253746;
                        border-radius: 29px;
                    }
                    &:hover{
                        overflow:initial;
                        color: $colorwhite;
                    }
                }
            }
        }

        .white-box {
            border-radius: 20px;
            background: $colorwhite;
            overflow: hidden;

            .image-top.bg-light-grey {
                background: $coloroffwhite;
            }

            .image-top {
                border-radius: 20px 20px 0 0;
                overflow: hidden;
            }
        }
    }

    &.home-dble-sc {
        .padding-tb {
            padding-bottom: 0px;
            margin-bottom: 50px;
        }
    }
}

.home-section-five {

    .siliq-savigs-green-circle {
        height: 406px;
        width: 406px;
        border-radius: 50%;
        padding: 18px;

        h3 {
            color: #012b46;
        }

        img {
            max-width: 100%;
        }
    }

    .siliq-savigs-green-circle-text {
        p {
            font-size: 18px;
            line-height: 1.6;
        }
    }
}
.next-to-banner {
    padding-top: 78px;
}
.note {
    font-size: 14px;
}

.text-indent-para {
    text-indent: -6px;
}
.find-a-doctor-sec {
    background: linear-gradient(90deg,#253746 0%,#253746 50%,#f5f7fa 50%,#f5f7fa 100%);

    .row {
        justify-content: flex-end;
    }

    section.block1 {
        width: 91.666667%;
    }

    .content-direction-rtl {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .find-a-doctor-back-img {
            position: absolute;
            left: 41%;
            top: 0px;
            max-height: 100%;
        }
    }
}

.externalLink {
    &:active {
        color: $colorwhite;
    }

    &:visited {
        color: $colorwhite;
    }

    &:hover {
        color: $colorwhite;
    }
}

@media only screen and (max-width: 1699px) and (min-width: 1500px) {
    .banner-image {
        .container {
            .banner-text-home {
                left: 20px;
                top: 31%;
                width: 570px;

                h1 {
                    font-size: 55px !important;
                    line-height: 55px !important;
                    margin-top: 10px;
                }

                p {
                    font-size: 22px;
                    line-height: 26px;

                    .btn.btn-default {
                        border-radius: 29px;
                        padding: 7px 20px;
                    }

                    .btn.btn-grey {
                        border-radius: 30px;
                        padding: 7px 20px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1366px;
    }
}
@media screen and (max-width:1199px){
    .home-section-four {
        .padding-tb {
            .gray-box-background {
                .box-content {
                    .btn-default {
                        &:focus {
                            color: $colorwhite;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1499px) and (min-width: 1400px) {
    .banner-image {
        .container {
            .banner-text-home {
                left: 20px;
                top: 31%;
                width: 530px;

                h1 {
                    font-size: 50px !important;
                    line-height: 50px !important;
                    margin-top: 10px;
                }

                p {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1399px) and (min-width: 1300px) {
    .banner-image {
        .container {
            .banner-text-home {
                left: 20px;
                top: 31%;
                width: 500px;

                h1 {
                    font-size: 45px !important;
                    line-height: 45px !important;
                    margin-top: 10px;
                }

                p {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1299px) and (min-width: 1200px) {
    .banner-image {
        .container {
            .banner-text-home {
                left: 20px;
                top: 31%;
                width: 500px;

                h1 {
                    font-size: 40px !important;
                    line-height: 40px !important;
                    margin-top: 5px;
                }

                p {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1025px) {
    .home-banner-section {
        .banner-image {
            .container {
                .banner-text-home {
                    left: 20px;
                    top: 29%;
                    width: 450px;

                    h1 {
                        font-size: 35px !important;
                        line-height: 36px !important;
                        margin-top: 5px;
                    }

                    p {
                        font-size: 18px !important;
                        line-height: 20px;
                    }
                }
            }
        }
    }   
}

@media only screen and (max-width: 1024px) and (min-width: 992px) {
    .home-banner-section {
        .banner-image {
            .container {
                .banner-text-home {
                    left: 20px;
                    top: 27%;
                    width: 450px;

                    h1 {
                        font-size: 35px !important;
                        line-height: 36px !important;
                        margin-top: 5px;
                    }

                    p {
                        font-size: 18px !important;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width: 992px) {
    .banner-image {
        .container {
            .banner-text-home {
                left: 20px;
                top: 27%;
                width: 450px;

                h1 {
                    font-size: 35px !important;
                    line-height: 36px !important;
                    margin-top: 5px;
                }

                p {
                    font-size: 18px !important;
                    line-height: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .banner-image {
        .container {
            bottom: 70px;

            .banner-text-home {

                h1 {
                    font-size: 32px;
                    line-height: 32px;
                    margin: auto;
                    padding: 5px 12px;
                }

                p:nth-child(2) {
                    position: absolute;
                    bottom: 77px;
                    font-size: 17px;
                    line-height: 21px;
                    font-weight: 700;
                    width: 70%;
                    left: 15%;
                    text-align: center;
                }

                p:nth-child(3) {
                    position: absolute;
                    bottom: 0;
                    font-size: 17px;
                    font-weight: 700;
                    width: 70%;
                    left: 15%;
                    text-align: center;
                }
            }

            .title {
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
                font-family: "Archivo Narrow",sans-serif;
                display: table;
                margin: auto;
                text-align: center;
            }
        }
    }
    
    .mobile-home-button {
        bottom: 25px;
        position: absolute;
        left: 0px;
        width: 100%;

        .btn-default {
            background: #fff;
            color: #215732;
            padding: 10px 20px;
        }
    }
    .mobile-banner-title {
        .title {
            background-image: linear-gradient(to right,#00852f,#215732 98%);
        }
    }

    .m-text-center {
        text-align: center !important;
    }

    

    .white-box {
        box-shadow: 0 13px 26px rgba(0,0,0,.16);

        .box-content {
            padding: 30px !important;
            height: auto !important;

            h3 {
                text-align: center;
            }
        }
    }

    .wht-1024 {
        margin-top: inherit;
    }

    .no-border-radius {
        border-radius: 20px !important;
    }

    .mob-mb-50 {
        margin-bottom: 50px;
    }

    h3 {
        font-size: 26px !important;
        font-weight: 700;
        line-height: 30px;
    }

    p {
        font-size: 16px;
    }

    .padding-tb {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .home-section-three {
        .gray-back {
            .white-box {
                background: #fff;
            }
        }
    }
}

.drag-drop {
    display: none;

    .comparison-slider-wrapper {
        background-color: transparent;

        img.curve {
            position: absolute;
            bottom: -23px;
            z-index: 1;
            width: 100%;
        }

        .comparison-slider {
            border: 0;
            overflow: hidden;

            .divider {
                background-color: #fff;

                &:before {
                    background: #00b140;
                }

                &:after {
                    margin-top: -21px;
                    margin-left: -10px;
                    color: $colorwhite;
                }
            }

            .overlay {
                display: block;

                .bg-info {
                    z-index: 1;
                }

                .before-text-bsa {
                    background: rgba(255,255,255,0.8) !important;
                    position: absolute;
                    z-index: 27;
                    left: 0px !important;
                    color: #000 !important;
                    padding: 5px 20px !important;
                    top: 0 !important;
                    border-top-left-radius: 19px;
                    /*z-index: 0;*/
                }

                .after-text-bsa {
                    background: rgba(255,255,255,.8) !important;
                    right: 0 !important;
                    padding: 5px 20px !important;
                    top: 0 !important;
                    color: #000 !important;
                    border-top-right-radius: 19px;
                    z-index: 0;
                }
            }

            .resize {
                & > img {
                    max-width: inherit;
                    border-radius: 20px;
                }

                .before-text-bsa {
                    background: rgba(255,255,255,.8) !important;
                    left: 0 !important;
                    padding: 5px 20px !important;
                    top: 0 !important;
                    color: #000 !important;
                    border-top-left-radius: 19px;
                    white-space: nowrap;
                }
            }

            img {
                border-radius: 20px;
            }
        }
    }

    .bsa-text {
        position: absolute;
        z-index: 9;
        text-align: center;
        width: 100%;
        bottom: -35px;
        font-size: 14px;
    }

    .result-para {
        position: absolute;
        bottom: -25px;
        z-index: 9;
        width: 100%;
    }

    .bsa-content {
        .box-content {
            padding: 30px;
            box-shadow: 0 13px 26px rgba(0,0,0,.16);
            border-radius: 0 0 20px 20px;
            background: $colorwhite;
        }
    }

    .btn-default{
        &:visited{
            color: $colorwhite;
        }
        &:active{
            color: $colorwhite;
        }
        &:focus{
            color: $colorwhite;
        }
    }
}
@media screen and (max-width: 768px) {
    .banner-image {
        .container {
            h1 {
                margin-bottom: 15px;

                &.home-banner-h1 {
                    margin-bottom: 15px;
                    font-size: 30px !important;
                    line-height: 32px !important;
                    margin: 0 auto;
                }
            }
        }
    }
}
@media only screen and (min-width: 1194px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .banner-image .container .title {
        font-size: 55px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .banner-text-home-mobile {
        p:nth-child(2) {
            bottom: 53px !important;
        }
    }
}



@media only screen and (min-width: 1194px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .siliq-savigs-green-circle {
        height: 320px;
        width: 320px;
        border-radius: 50%;
        padding: 18px;
    }
}



@media only screen and (max-width: 1699px) and (min-width: 1500px) {
    .banner-image {
        .container {
            .desktop-banner-title {
                padding-left: 100px;
                position: absolute;
                bottom: 100px;
            }
        }
    }
}

@media only screen and (min-width: 359px) and (max-width: 361px) {
    .ixspace {
        display: none;
    }

    .tabspace {
        margin-left: 7px;
    }
}

@media only screen and (min-width: 374px) and (max-width: 376px) {
    .ixspace {
        display: none;
    }

    .tabspace {
        margin-left: 7px;
    }
}

@media only screen and (min-width: 413px) and (max-width: 415px) {
    .ixspace {
        display: block;
    }
}

@media only screen and (min-width: 833px) and (max-width: 836px) {
    .tabspace {
        margin-left: 7px;
    }
}

@media only screen and (min-width: 834px) {
    .ixspace {
        display: none;
    }
}

@media only screen and (min-width: 767px) and (max-width: 769px) {
    .tabspace {
        margin-left: 7px;
    }

    .ixspace {
        display: none;
    }
}

@media only screen and (min-width:992px) and (max-width: 1199px) {
    .find-a-doctor-sec {
        .gray-box-back {
            .box-content {
                padding: 40px 45px 40px 36px;
            }
        }
    }
}