@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Editor
@using EPiServer.Core
@using EPiServer.Web
@model PageViewModel<EpiserverBH.Models.Pages.Home>


<footer>
    <div id="FooterPane">

        @Html.PropertyFor(x => x.CurrentPage.Footer, new { })

    </div>
</footer>

<div id="interstitial" class="modal">
    

        @Html.PropertyFor(x => x.CurrentPage.BodyISI, new { })

    
</div>
